fastapi==0.115.12
uvicorn==0.34.2
faiss-cpu==1.11.0
numpy==2.2.5
sentence-transformers==4.1.0
transformers==4.51.3
torch==2.7.0
pillow==11.2.1
pymupdf==1.25.5
python-multipart==0.0.20
opencv-python==4.11.0.86
lingua-language-detector==2.0.2
ollama==0.4.8
pypdf==5.4.0
python-dotenv==1.1.0
onnxruntime==1.21.1